{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(react-native/(.*)$)|^(react-native$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "nativewind",
    "",
    "^types$",
    "^@/env(.*)$",
    "^@/types/(.*)$",
    "",
    "^(.*)/helper$",
    "^@/db",
    "",
    "^@/project.config",
    "",
    "^@/trpc/(.*)$",
    "",
    "^@workspace/ui/(.*)$",
    "^@workspace/hooks/(.*)$",
    "",
    "^@workspace/trpc/(.*)$",
    "^@workspace/auth/(.*)$",
    "^@workspace/drizzle/(.*)$",
    "^@workspace/email",
    "^@workspace/email/(.*)$",
    "^@workspace/storage/(.*)$",
    "",
    "^@/providers/(.*)$",
    "^@/emails/(.*)$",
    "^@/db/(.*)$",
    "^@/config/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "",
    "^@/styles/(.*)$",
    "^@/app/(.*)$",
    "",
    "^[./]"
  ],
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": false
}