.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

h1 {
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: 600ms;
}

.wrapper:hover h1:not(:hover) {
  opacity: 0.2;
}

span {
  display: inline-block;
  transition: 400ms cubic-bezier(0.65, 0.005, 0.21, 1.65);
}

.name:hover span:nth-child(1) {
  transform: translate(20%, 40%) rotate(10deg);
  transition-duration: 1000ms;
}

.name:hover span:nth-child(2) {
  transform: translate(-20%, -40%) rotate(-10deg);
  transition-duration: 1000ms;
}
.name:hover span:nth-child(3) {
  transform: translate(0%, -20%) rotate(10deg);
  transition-duration: 1000ms;
}
.name:hover span:nth-child(4) {
}

.name:hover span:nth-child(5) {
  transform: translate(20%, 80%) rotate(10deg);
  transition-duration: 1000ms;
}
.name:hover span:nth-child(6) {
  transform: translate(50%, 100%) rotate(40deg);
  transition-duration: 1000ms;
}
.name:hover span:nth-child(7) {
  transform: translate(20%, -40%) rotate(20deg);
  transition-duration: 1000ms;
}
.name:hover span:nth-child(8) {
  transform: translate(0%, 0%) rotate(10deg);
  transition-duration: 1000ms;
}
.name:hover span:nth-child(9) {
}
.name:hover span:nth-child(10) {
  transform: translate(10%, -10%) rotate(15deg);
  transition-duration: 1000ms;
}
.name:hover span:nth-child(11) {
  transform: translate(10%, 40%) rotate(10deg);
  transition-duration: 1000ms;
}
.name:hover span:nth-child(12) {
  transform: translate(20%, 20%) rotate(20deg);
  transition-duration: 1000ms;
}
.name:hover span:nth-child(13) {
  transform: translate(25%, 20%) rotate(30deg);
  transition-duration: 1000ms;
}
.name:hover span:nth-child(14) {
  transform: translate(20%, 40%) rotate(10deg);
  transition-duration: 1000ms;
}
.name:hover span:nth-child(15) {
  transform: translate(0%, -40%) rotate(-10deg);
  transition-duration: 1000ms;
}
