body {
  background-color: black;
  color: rgb(147 148 161);
}

.wrapper {
  --duration: 400ms;
  --y: 40px;
  --primary: rgb(58 212 253);
  position: relative;
  width: 100%;
  height: 260px;
  max-width: 400px;
  background-color: rgb(33 33 38);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 24px 24px;
}

.transition {
  transition: var(--duration);
}

.wrapper h2 {
  color: white;
}

.wrapper p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
}

.animation-wrapper {
  position: absolute;
  height: 65%;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.animation-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(to bottom, transparent, rgb(33 33 38));
}

.animation-wrapper .svg-background {
  position: absolute;
  transform: translateY(100px);
}

.wrapper:hover .animation-wrapper svg {
  transform: translateY(calc(100px - var(--y)));
}

.animation-wrapper .lock {
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #2b2b30;
  box-shadow: 0 0 0 4px black;
  border-radius: 9999px;
  transform: translateY(70px);
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  overflow: hidden;
}

.animation-wrapper .lock::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: repeating-radial-gradient(
    rgba(0, 0, 0, 0.2) 0.125rem,
    transparent 0.25rem
  );
  border-radius: 9999px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1);
  z-index: -2;
}

.animation-wrapper .lock::before {
  content: "";
  position: absolute;
  inset: 16px;
  background-image: repeating-radial-gradient(
    rgba(0, 0, 0, 0.2) 0.125rem,
    transparent 0.25rem
  );
  border-radius: 9999px;
  box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.206);
  z-index: -2;
}

.animation-wrapper .lock svg {
  position: absolute;
  transition: var(--duration);
}

.animation-wrapper .lock .shine {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    transparent,
    hsla(0, 0%, 100%, 0.5) 30%,
    #fff,
    hsla(0, 0%, 100%, 0.5) 70%,
    transparent
  );
  opacity: 0.1;
  transform: translateX(-125%) translateY(-75%) rotate(45deg) scaleY(1.2);
  transition: var(--duration);
}

.animation-wrapper .input {
  width: 224px;
  height: 28px;
  background-color: #2f3037;
  transform: translateY(150px);
  border-radius: 0.375rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding-inline: 0.7rem;
}

.animation-wrapper .input .dot {
  width: 5px;
  height: 5px;
  background-color: var(--primary);
  border-radius: 1rem;
  opacity: 0;
  scale: 2;
  filter: blur(4px);
  box-shadow: 0 2px 1px rgb(0, 0, 0, 0.2);
  transition: var(--duration);
}

.wrapper:hover .animation-wrapper .lock {
  transform: translateY(calc(70px - var(--y)));
}

.wrapper:hover .animation-wrapper .lock svg {
  transform: translateY(calc(40px - var(--y))) rotate(90deg);
  transition: calc(100ms + var(--duration)) cubic-bezier(1, 0.005, 0, 0.985)
    700ms;
}

.wrapper:hover .animation-wrapper .lock .shine {
  transform: translateX(0%) translateY(0%) rotate(45deg) scaleY(1.2);
  transition: calc(100ms + var(--duration)) cubic-bezier(1, 0.005, 0, 0.985)
    700ms;
}

.wrapper:hover .animation-wrapper .input {
  transform: translateY(calc(160px - var(--y)));
}

.wrapper:hover .animation-wrapper .input {
  box-shadow: 0 0 0px 1px var(--primary);
}
.wrapper:hover .animation-wrapper .input .dot {
  opacity: 1;
  scale: 1;
  filter: blur(0px);
  transition-delay: calc(0.05s * var(--i));
}
