body {
  flex-direction: column;
}

.lines {
  --size: 15;
  --transition-duration: 300ms;

  height: 350px;
  display: flex;
  align-items: end;
}

.line {
  position: relative;
  width: calc(2px * var(--size));
  height: calc(15px * var(--size));
  transition:
    height var(--transition-duration),
    opacity var(--transition-duration);
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.line::after {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: black;
  border-radius: 1rem;
}

.line:hover {
  height: calc(20px * var(--size));
}

.line:hover + .line,
.line:has(+ .line:hover) {
  height: calc(17px * var(--size)) !important;
}

.line:hover + .line + .line,
.line:has(+ .line + .line:hover) {
  height: calc(15px * var(--size)) !important;
}

.lines:hover .line:not(:hover) {
  opacity: 0.6;
  height: calc(14px * var(--size));
}

.lines:hover .line:has(+ .line:hover),
.lines:hover .line:hover + .line {
  opacity: 0.8;
}
