body {
  background-color: rgb(19, 19, 22);
  color: white;
}

.wrapper {
  --duration: 500ms;

  position: relative;
  width: 190px;
  height: 138px;
  border: 1px solid rgb(47, 48, 55);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper img {
  position: absolute;
  transition: var(--duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper .real-image {
  opacity: 0;
}

.wrapper:hover img {
  transform: translateY(-15px);
}

.wrapper:hover .real-image {
  opacity: 1;
}

.wrapper:hover .transparent-image {
  opacity: 0;
}

.wrapper h3 {
  transform: translateY(20px);
  opacity: 0;
  transition: var(--duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper:hover h3 {
  opacity: 1;
  transition-delay: 0.2s;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0;
  transition: var(--duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper:hover #canvas {
  opacity: 1;
}

.background {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    42.89% 50% at 50% 50%,
    rgb(19 19 22 / 0.8) 8.57%,
    rgb(19 19 22 / 0) 100%
  );
  z-index: -1;
}

.background::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to bottom, transparent, rgb(19 19 22 / 0.8));
}

.background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(transparent, rgb(19 19 22));
  scale: 0;
  transition: var(--duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper:hover .background::before {
  scale: 2;
}
