@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth;
}

::selection {
  @apply text-white bg-dark-blue-2;
}

#chat::-webkit-scrollbar {
  width: 5px;
}
#chat::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 9999px;
}

.cookie-consent {
  padding-bottom: calc(env(safe-area-inset-bottom) + 60px) !important;
}
