@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth;
}

html {
  height: 100%;
}

body {
  @apply relative min-h-full pb-24 bg-light-blue text-dark-blue;
}

#link {
  transition: opacity 0.3s;
}
#link:hover ~ #link {
  opacity: 0.5 !important;
  filter: blur(1px);
}

::selection {
  @apply text-white bg-dark-blue-2;
}
