@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: white;
  color: black;
}

::-webkit-scrollbar {
  @apply w-2 bg-muted-2/20;
}
::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-muted;
}

/* Code Wrapper */
[data-rehype-pretty-code-fragment] {
  @apply my-8 mb-3 overflow-hidden rounded-lg border border-border bg-[rgb(24,24,27)];
}

[data-rehype-pretty-code-fragment] > [data-rehype-pretty-code-title] {
  @apply mb-2 border-b border-border px-4 py-2;
}

[data-rehype-pretty-code-fragment] code {
  @apply py-3;
}

[data-rehype-pretty-code-fragment]:has([data-rehype-pretty-code-title]) code {
  @apply py-0 pb-3;
}

[data-highlighted-chars] {
  background-color: rgba(63, 63, 70, 0.5);
  padding: 0.2rem;
  border-radius: 0.2rem;
}
[data-highlighted-line] {
  background-color: rgba(46, 46, 51, 0.5);
  padding: 0.2rem;
}

[data-chars-id="s"] {
  border-radius: 0.2rem;
}

[data-chars-id="g"] {
  background-color: rgba(0, 140, 255, 0.1);
}

[data-chars-id="r"] {
  background-color: rgba(255, 0, 0, 0.2);
}

code [data-line] {
  padding-inline: 1em;
  padding: 0.125rem 1rem;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

.grid-background::after {
  --grid-color: rgba(255, 255, 255, 0.2);
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--grid-color) 25%,
      var(--grid-color) 26%,
      transparent 27%,
      transparent 74%,
      var(--grid-color) 75%,
      var(--grid-color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--grid-color) 25%,
      var(--grid-color) 26%,
      transparent 27%,
      transparent 74%,
      var(--grid-color) 75%,
      var(--grid-color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 41px 41px;
}

.newsletter-grid-background::after {
  --grid-color: rgba(255, 255, 255, 0.1);
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  z-index: -30;
  background-image: radial-gradient(var(--grid-color) 10%, transparent 11%);
  background-size: 20px 20px; /* Adjust the size of the dots */
}

.fade-out-grid-background {
  -webkit-mask-image: linear-gradient(
    to top left,
    black 10%,
    rgba(0, 0, 0, 0) 70%
  );
  mask-image: linear-gradient(to top left, black 10%, rgba(0, 0, 0, 0) 70%);
}

.fade-out-faq {
  -webkit-mask-image: linear-gradient(black 50%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(black 50%, rgba(0, 0, 0, 0));
}

.testing {
  mask-image: linear-gradient(
    0deg,
    transparent calc(var(--x-background) + 20%),
    white calc(var(--x-background) + 35%),
    transparent calc(var(--x-background) + 80%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    transparent calc(var(--x-background) + 20%),
    white calc(var(--x-background) + 35%),
    transparent calc(var(--x-background) + 80%)
  );
}

.text_gradient {
  background: linear-gradient(to top, rgb(161, 161, 161), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border_animate::before {
  content: "";
  background-image: conic-gradient(white 20deg, transparent 80deg);
  position: absolute;
  inset: -110px;
  z-index: -1;
  border-radius: 12px;
  animation: rotate 4s infinite linear;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -360deg;
  }
}

.border_animate::after {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: 12px;
  z-index: -1;
}

/* ul:has(#anchor:hover) > li > #anchor:not(:hover) {
  opacity: 0.5;
} */

.custom_shadow {
  box-shadow:
    0 10px 19px 4px rgb(0 0 0 / 0.16),
    0 -10px 16px -4px rgb(255 255 255 / 0.04),
    0 0 0 1px rgb(255 255 255 / 0.01),
    0 1px 0 0 rgb(255 255 255 / 0.02);
}

.custom-selection::selection {
  background-color: #b4d5fe;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.gradient__text {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.text_shadow_animation {
  mask-image: linear-gradient(
    0deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}
