@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-2 bg-muted-2/20;
}
::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-muted;
}

/* Code Wrapper */
[data-rehype-pretty-code-fragment] {
  @apply my-8 mb-3 overflow-hidden rounded-lg border border-border bg-[rgb(24,24,27)];
}

[data-rehype-pretty-code-fragment] > [data-rehype-pretty-code-title] {
  @apply mb-2 border-b border-border px-4 py-2;
}

[data-rehype-pretty-code-fragment] code {
  @apply py-3;
}

[data-rehype-pretty-code-fragment]:has([data-rehype-pretty-code-title]) code {
  @apply py-0 pb-3;
}

[data-highlighted-chars] {
  background-color: rgba(63, 63, 70, 0.5);
  padding: 0.2rem;
  border-radius: 0.2rem;
}
[data-highlighted-line] {
  background-color: rgba(46, 46, 51, 0.5);
  padding: 0.2rem;
}

[data-chars-id="s"] {
  border-radius: 0.2rem;
}

code [data-line] {
  padding-inline: 1em;
  padding: 0.125rem 1rem;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

.fade-out-faq {
  -webkit-mask-image: linear-gradient(black 50%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(black 50%, rgba(0, 0, 0, 0));
}
