@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  scroll-behavior: smooth;
} */

:root {
  --size-spinning: 40px;
  --color-spinning: #a7a7a9;

  --ios-simulator-color: white;
}

/* ::selection {
  background-color: white;
  color: black;
} */

::-webkit-scrollbar {
  @apply w-2 bg-muted-2/20;
}
::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-muted;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Code Wrapper */
[data-rehype-pretty-code-fragment] {
  @apply my-8 mb-3 overflow-hidden rounded-lg border border-border bg-[rgb(24,24,27)];
}

[data-rehype-pretty-code-fragment] > [data-rehype-pretty-code-title] {
  @apply mb-2 border-b border-border px-4 py-2;
}

[data-rehype-pretty-code-fragment] code {
  @apply py-3;
}

[data-rehype-pretty-code-fragment]:has([data-rehype-pretty-code-title]) code {
  @apply py-0 pb-3;
}

[data-highlighted-chars] {
  background-color: rgba(63, 63, 70, 0.5);
  padding: 0.2rem;
  border-radius: 0.2rem;
}
[data-highlighted-line] {
  background-color: rgba(46, 46, 51, 0.5);
  padding: 0.2rem;
}

[data-chars-id="s"] {
  border-radius: 0.2rem;
}

[data-chars-id="g"] {
  background-color: rgba(0, 140, 255, 0.1);
}

[data-chars-id="r"] {
  background-color: rgba(255, 0, 0, 0.2);
}

code [data-line] {
  padding-inline: 1em;
  padding: 0.125rem 1rem;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

.grid-background::after {
  --grid-color: rgba(255, 255, 255, 0.2);
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--grid-color) 25%,
      var(--grid-color) 26%,
      transparent 27%,
      transparent 74%,
      var(--grid-color) 75%,
      var(--grid-color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--grid-color) 25%,
      var(--grid-color) 26%,
      transparent 27%,
      transparent 74%,
      var(--grid-color) 75%,
      var(--grid-color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 41px 41px;
}

.newsletter-grid-background::after {
  --grid-color: rgba(255, 255, 255, 0.1);
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  z-index: -30;
  background-image: radial-gradient(var(--grid-color) 10%, transparent 11%);
  background-size: 20px 20px; /* Adjust the size of the dots */
}

.fade-out-grid-background {
  -webkit-mask-image: linear-gradient(
    to top left,
    black 10%,
    rgba(0, 0, 0, 0) 70%
  );
  mask-image: linear-gradient(to top left, black 10%, rgba(0, 0, 0, 0) 70%);
}

.fade-out-faq {
  -webkit-mask-image: linear-gradient(black 50%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(black 50%, rgba(0, 0, 0, 0));
}

.text_gradient {
  background: linear-gradient(to top, rgb(161, 161, 161), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border_animate::before {
  content: "";
  background-image: conic-gradient(white 20deg, transparent 80deg);
  position: absolute;
  inset: -110px;
  z-index: -1;
  border-radius: 12px;
  animation: rotate 4s infinite linear;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -360deg;
  }
}

.border_animate::after {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: 12px;
  z-index: -1;
}

/* ul:has(#anchor:hover) > li > #anchor:not(:hover) {
  opacity: 0.5;
} */

.custom_shadow {
  box-shadow:
    0 10px 19px 4px rgb(0 0 0 / 0.16),
    0 -10px 16px -4px rgb(255 255 255 / 0.04),
    0 0 0 1px rgb(255 255 255 / 0.01),
    0 1px 0 0 rgb(255 255 255 / 0.02);
}

.custom-selection::selection {
  background-color: #b4d5fe;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.gradient__text {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.text_shadow_animation {
  mask-image: linear-gradient(
    0deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

/* Animations.dev */

.feedback-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.feedback-button {
  position: relative;
  display: flex;
  height: 36px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #e9e9e7;
  background: white;
  padding: 0 12px;
  font-weight: 500;
  outline: none;
}

.feedback-button span {
  display: block;
  font-size: 14px;
}

.feedback-popover {
  position: absolute;
  height: 192px;
  width: 364px;
  overflow: hidden;
  border-radius: 12px;
  background: white;
  padding: 4px;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.04);
  outline: none;
}

.placeholder {
  position: absolute;
  font-size: 14px;
  color: #63635d;
  left: 16px;
  top: 17px;
}

.placeholder[data-feedback="true"] {
  opacity: 0 !important;
}

.success-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-wrapper svg {
  margin-top: -4px;
}

.success-wrapper h3 {
  margin-bottom: 4px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #21201c;
}

.success-wrapper p {
  font-size: 14px;
  color: #63635d;
}

.feedback-form {
  border-radius: 8px;
  border: 1px solid red;
  background: white;
}

.textarea {
  height: 128px;
  resize: none;
  border-radius: 8px 0;
  padding: 12px;
  font-size: 14px;
  outline: none;
}

.textarea::placeholder {
  opacity: 0;
}

.feedback-footer {
  position: relative;
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 10px;
}

.dotted-line {
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
}

.half-circle-left {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-1.5px) translateY(-50%);
}

.half-circle-right {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(1.5px) translateY(-50%) rotate(180deg);
}

.submit-button {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: 600;
  font-size: 12px;
  height: 24px;
  width: 104px;
  overflow: hidden;
  background: linear-gradient(180deg, #1994ff 0%, #157cff 100%);
  box-shadow:
    0px 0px 1px 1px rgba(255, 255, 255, 0.08) inset,
    0px 1px 1.5px 0px rgba(0, 0, 0, 0.32),
    0px 0px 0px 0.5px #1a94ff;
  position: relative;
}

.submit-button span {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.16);
}

.wrapper {
  height: var(--spinner-size, 20px);
  width: var(--spinner-size, 20px);
}

.bar {
  animation: spin 1.2s linear infinite;
  background: var(--spinner-color);
  border-radius: 6px;
  height: 8%;
  left: -10%;
  position: absolute;
  top: -3.9%;
  width: 24%;
}

.bar:nth-child(1) {
  animation-delay: -1.2s;
  transform: rotate(0.0001deg) translate(146%);
}

.bar:nth-child(2) {
  animation-delay: -1.1s;
  transform: rotate(30deg) translate(146%);
}

.bar:nth-child(3) {
  animation-delay: -1s;
  transform: rotate(60deg) translate(146%);
}

.bar:nth-child(4) {
  animation-delay: -0.9s;
  transform: rotate(90deg) translate(146%);
}

.bar:nth-child(5) {
  animation-delay: -0.8s;
  transform: rotate(120deg) translate(146%);
}

.bar:nth-child(6) {
  animation-delay: -0.7s;
  transform: rotate(150deg) translate(146%);
}

.bar:nth-child(7) {
  animation-delay: -0.6s;
  transform: rotate(180deg) translate(146%);
}

.bar:nth-child(8) {
  animation-delay: -0.5s;
  transform: rotate(210deg) translate(146%);
}

.bar:nth-child(9) {
  animation-delay: -0.4s;
  transform: rotate(240deg) translate(146%);
}

.bar:nth-child(10) {
  animation-delay: -0.3s;
  transform: rotate(270deg) translate(146%);
}

.bar:nth-child(11) {
  animation-delay: -0.2s;
  transform: rotate(300deg) translate(146%);
}

.bar:nth-child(12) {
  animation-delay: -0.1s;
  transform: rotate(330deg) translate(146%);
}

@keyframes spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

.avatars-z-index {
  @apply [&>*:nth-child(1)]:z-[10] [&>*:nth-child(2)]:z-[9] [&>*:nth-child(3)]:z-[8] [&>*:nth-child(4)]:z-[7] [&>*:nth-child(5)]:z-[6] [&>*:nth-child(7)]:z-[4] [&>*:nth-child(8)]:z-[3] [&>*:nth-child(9)]:z-[2];
}

/* ! Loading */
.spinner {
  display: inline-block;
  position: relative;
  width: var(--size-spinning);
  height: var(--size-spinning);
}

.spinner div {
  transform-origin: calc(var(--size-spinning) / 2)
    calc(var(--size-spinning) / 2);
  animation: spinner 0.8s linear infinite;
  position: absolute;
}

.spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: calc(var(--size-spinning) / 5.5);
  left: calc(var(--size-spinning) / 2.17);
  width: calc(var(--size-spinning) / 12.5);
  height: calc(var(--size-spinning) / 5);
  border-radius: calc(var(--size-spinning) / 10);
  background-color: var(--color-spinning);
}

.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -1s;
}

.spinner div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.8s;
}
.spinner div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
  transform: rotate(310deg);
  animation-delay: -0.4s;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*! Test */

.wrapper {
  height: var(--spinner-size, 20px);
  width: var(--spinner-size, 20px);
}

.bar {
  animation: spin 1.2s linear infinite;
  background: var(--spinner-color);
  border-radius: 6px;
  height: 8%;
  left: -10%;
  position: absolute;
  top: -3.9%;
  width: 24%;
}

.bar:nth-child(1) {
  animation-delay: -1.2s;
  transform: rotate(0.0001deg) translate(146%);
}

.bar:nth-child(2) {
  animation-delay: -1.1s;
  transform: rotate(30deg) translate(146%);
}

.bar:nth-child(3) {
  animation-delay: -1s;
  transform: rotate(60deg) translate(146%);
}

.bar:nth-child(4) {
  animation-delay: -0.9s;
  transform: rotate(90deg) translate(146%);
}

.bar:nth-child(5) {
  animation-delay: -0.8s;
  transform: rotate(120deg) translate(146%);
}

.bar:nth-child(6) {
  animation-delay: -0.7s;
  transform: rotate(150deg) translate(146%);
}

.bar:nth-child(7) {
  animation-delay: -0.6s;
  transform: rotate(180deg) translate(146%);
}

.bar:nth-child(8) {
  animation-delay: -0.5s;
  transform: rotate(210deg) translate(146%);
}

.bar:nth-child(9) {
  animation-delay: -0.4s;
  transform: rotate(240deg) translate(146%);
}

.bar:nth-child(10) {
  animation-delay: -0.3s;
  transform: rotate(270deg) translate(146%);
}

.bar:nth-child(11) {
  animation-delay: -0.2s;
  transform: rotate(300deg) translate(146%);
}

.bar:nth-child(12) {
  animation-delay: -0.1s;
  transform: rotate(330deg) translate(146%);
}

@keyframes spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

.paragraph-fade-end {
  mask-image: linear-gradient(transparent 20%, white 35%, transparent 80%);
  -webkit-mask-image: linear-gradient(white 35%, transparent 80%);
}

/* Test */
.multi-step-wrapper {
  position: relative;
  margin: 100px auto;
  width: 550px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.04),
    0px 8px 8px -8px rgba(0, 0, 0, 0.04);
}
.multi-step-inner {
  padding: 24px;
}
.actions {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.secondary-button {
  height: 32px;
  width: 80px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 500;
  color: #63635d;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.04),
    0px 8px 8px -8px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.secondary-button:hover:not(:disabled) {
  color: black;
}
.primary-button {
  border-radius: 9999px;
  font-weight: 600;
  font-size: 14px;
  height: 32px;
  width: 120px;
  color: white;
  overflow: hidden;
  background: linear-gradient(180deg, #1994ff 0%, #157cff 100%);
  box-shadow:
    0px 0px 1px 1px rgba(255, 255, 255, 0.08) inset,
    0px 1px 1.5px 0px rgba(0, 0, 0, 0.32),
    0px 0px 0px 0.5px #1a94ff;
  position: relative;
}
.primary-button span {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.16);
}
.heading {
  margin-bottom: 8px;
  font-weight: 600;
}
.skeletons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.skeleton {
  border-radius: 6px;
  background: #f2f1f0;
  height: 16px;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.intro-card {
  animation: card-intro 0.5s cubic-bezier(0.4, 0, 0.6, 1) forwards 2s;
  animation-timing-function: ease-out;
}

@keyframes card-intro {
  from {
    transform: scale(1.2) translateY(40px) rotate(90deg);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0px) rotate(90deg);
    opacity: 1;
  }
}

.intro-card-2 {
  animation: card-intro-2 0.5s cubic-bezier(0.4, 0, 0.6, 1) forwards 2s;
  animation-timing-function: ease-out;
}

@keyframes card-intro-2 {
  from {
    transform: scale(1.2) translate(40px, 40px) rotate(90deg);
    opacity: 0;
  }
  to {
    transform: scale(1) translate(50px, 50px) rotate(90deg);
    opacity: 1;
  }
}
