@import "tailwindcss";
@import "tw-animate-css";
@source "../**/*.{ts,tsx}";
@source "../../../../apps/motion/animations/**/*.{ts,tsx}";

@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 1rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: #171717;
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: #1b1d1b;
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(57.7% 0.245 27.325);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --font-mono: var(--font-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-5xl: calc(var(--radius) + 32px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --shadow-card: 0 0 0 1px rgba(255, 255, 255, 0.08) inset, 0 0 0 1px rgba(9, 9, 11, 0.07),
    0 0.7px 0.9px -1px rgba(9, 9, 11, 0.08), 0 3px 4px -2px rgba(9, 9, 11, 0.14);
  --shadow-card-inside: 0px 1px 0px 0px #fff inset, 0px 1px 0px 0px var(--black-4, rgba(2, 2, 3, 0.04)),
    0px 0px 0px 1px var(--black-7, rgba(2, 2, 3, 0.07)), 0px 15px 6px -3px rgba(0, 0, 0, 0.01),
    0px 6px 5px -2px rgba(0, 0, 0, 0.02), 0px 3px 3px -1px rgba(0, 0, 0, 0.04),
    0px 1px 2px -0.5px rgba(0, 0, 0, 0.04);
  --shadow-dropdown: 0 0 0 1px rgba(25, 28, 33, 0.08), 0 16px 36px -6px color-mix(in srgb, black calc(0.07 * 100%), transparent),
    0 6px 16px -2px color-mix(in srgb, black calc(0.2 * 100%), transparent);
  --shadow-dialog: 0 32px 72px -12px rgba(25, 28, 33, 0.2), 0 16px 32px -6px color-mix(in srgb, black calc(0.2 * 100%), transparent);
  --shadow-dialog-body: 0 1px 2px rgba(25, 28, 33, 0.06), 0 0 2px color-mix(in srgb, black calc(0.08 * 100%), transparent);
  --shadow-toast-save: inset 0 0 0 1px #2f3037, inset 0 2px 0 color-mix(in srgb, white calc(0.12 * 100%), transparent),
    inset 0 0 2px 2px color-mix(in srgb, white calc(0.06 * 100%), transparent), 0 16px 36px -6px color-mix(in srgb, black calc(0.36 * 100%), transparent),
    0 6px 16px -2px color-mix(in srgb, black calc(0.2 * 100%), transparent);

  --animate-rotate: rotate .5s ease-in-out forwards;
  --animate-dialog-in: dialog-in 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  --animate-popover-in: popover-in .4s forwards;
  --animate-dots-rotate: dotsRotate 10s linear infinite;
  --animate-dots-width: dotsWidth 1.5s ease-in-out infinite;

  @keyframes dialog-in {
    from {
      opacity: 0;
      transform: scale(0.95) rotateY(45deg) rotateX(45deg) translateX(-20px);
    }

    to {
      opacity: 1;
      transform: scale(1) rotateY(0deg) rotateX(0deg) translateX(0);
    }
  }

  @keyframes popover-in {
    from {
      opacity: 0;
      filter: blur(4px);
      transform: scale(0) rotateY(45deg) translateY(-60px);
    }

    to {
      opacity: 1;
      filter: blur(0px);
      transform: scale(1) rotateY(0deg) translateY(0);
    }
  }


  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes dotsWidth {
    0% {
      width: 100%;
    }

    50% {
      width: var(--animate-width-to, 120%);
    }

    100% {
      width: 100%;
    }
  }

  @keyframes dotsRotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }

  button {
    @apply cursor-pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@utility container {
  max-width: 1224px;
  padding-inline: 1rem;
  margin-inline: auto;
}

@utility custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

#motion-container>* {
  @apply animate-in fade-in-0 duration-600;
}