* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(19 19 22);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  max-width: 400px;
  background: rgb(33 33 38);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-circle {
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    border 500ms,
    box-shadow 500ms;
  border: 1px solid transparent;
  overflow: hidden;
}

.middle-circle div {
  width: 110px;
  height: 110px;
  background-color: rgb(33 33 38);
  border-radius: 50%;
}

.primary-animation {
  width: 120px;
  height: 120px;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(93, 228, 255, 0.3);
  box-shadow: 0 0 10px rgba(93, 228, 255, 0.3);
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.68, 0.29, 0.005, 1.005);
  animation: shadow 2s infinite alternate 0.5s;
}

.wrapper:hover .primary-animation {
  opacity: 1;
  transition-delay: 400ms;
}

.middle-circle::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(20px);
  transform: rotate(80deg) translate(-90px, 0px);
  transition: transform 500ms cubic-bezier(0.68, 0.29, 0.005, 1.005);
}

.wrapper:hover .middle-circle::before {
  transform: rotate(80deg) translate(0px, 0px);
}

@keyframes shadow {
  to {
    border: 1px solid rgba(93, 228, 255, 0.5);
    box-shadow: 0 5px 20px rgba(93, 228, 255, 0.2);
  }
}

.svg-1 {
  position: absolute;
  right: 0;
  height: 120%;
  transform: translateX(90px);
  transition: 500ms cubic-bezier(0.68, 0.29, 0.005, 1.005);
}

.svg-2 {
  position: absolute;
  left: 0;
  height: 120%;
  transform: translateX(-90px) rotate(180deg);
  transition: transform 500ms cubic-bezier(0.68, 0.29, 0.005, 1.005);
}

#canvas {
  opacity: 0;
  transition: 300ms;
  -webkit-mask-image: radial-gradient(circle, white, transparent 50%);
}

.wrapper:hover #canvas {
  opacity: 1;
  transition-delay: 0.6s;
}

.wrapper:hover .svg-1 {
  transform: translateX(200px);
  transition-delay: 0.4s;
}
.wrapper:hover .svg-2 {
  transform: translateX(-200px) rotate(180deg);
  transition-delay: 0.4s;
}
