body {
  background-color: rgb(247, 249, 257);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
  grid-template-areas:
    ". . Tax . . ."
    "Billing . . Invoicing Capital ."
    ". Atlas Payments Climate . Treasury"
    "Connect . . Radar . ."
    ". . Terminal Checkout Issuing ."
    ". Identity . . Sigma Elements";
}

.items {
  position: relative;
  z-index: 50;
  width: 78px;
  height: 78px;
  border-radius: 8px;
  overflow: hidden;
}

.items:has(> span) {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 0.4rem;
  background-color: rgb(247, 249, 257);
  border: 1px solid #c4ccd8;
  transition: 400ms ease-in-out;
}

.items:has(> span):hover {
  background-color: white;
  border-color: white;
  transform: scale(1.07);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.items:has(> span):hover .icon {
  background-color: white;
  border-color: white;
  transform: scale(1.07);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.svg-lines-1 {
  transform: translateX(-6px);
}

.items > span {
  font-size: 12px;
  opacity: 0;
  transform: translateY(20px);
  transition: 500ms;
}

.icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  transition: 500ms;
}

.svg-lines .animate-path.animate-now {
  animation: dash 10s ease-in-out forwards infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: var(--path-length);
  }
  10%,
  30% {
    stroke-dashoffset: 0px;
  }
  40%,
  100% {
    stroke-dashoffset: calc(var(--path-length) * -1);
  }
}

.items.animate-now {
  animation: items-animation 5s;
  opacity: 1;
}
.items.animate-now-delay {
  animation: items-animation 3.5s 0.6s;
}

.items:has(> span):hover span,
.items.animate-now span,
.items.animate-now-delay span {
  opacity: 1;
  transform: translateY(0px);
}

.items:has(> span):hover .icon,
.items.animate-now .icon,
.items.animate-now-delay .icon {
  opacity: 1;
  transform: translate(-50%, -70%);
}

@keyframes items-animation {
  0% {
    background-color: rgb(247, 249, 257);
  }
  10%,
  50% {
    background-color: white;
    transform: scale(1.07);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-color: white;
  }
  60%,
  100% {
    background-color: rgb(247, 249, 257);
  }
}

.svg-lines {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
