@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Space+Grotesk:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-dark text-light;
    font-family: "Inter", sans-serif;
  }

  .space-grotesk {
    font-family: "Space Grotesk", sans-serif;
  }

  @media (hover: none) {
    #link {
      color: white;
    }
  }

  @media (max-width: 768px) {
    .responsive__navbar {
      @apply text-xl w-full absolute bottom-0 left-0 flex-col gap-1 items-start p-4 bg-dark -z-10;
      height: calc(100vh - 64px);
      transform: translateY(-100%);
      transition: background-color 0.1s, transform 0.5s ease-out;
    }
    .navbar__active {
      background-color: #111;
      transform: translateY(0%);
      z-index: 0;
    }
  }
}
