@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-[#F5F5F5] dark:bg-[#212121] text-black dark:text-gray-300;
  }

  #project::after {
    content: attr(data-project);
    position: absolute;
    transform: translateX(10px) rotate(-10deg);
    opacity: 0.7;
  }

  #content img {
    @apply my-12 border-2 shadow-xl rounded-2xl;
  }

  #anchor::after {
    @apply absolute bottom-0 left-0 w-full h-0 duration-150 bg-blue-700 rounded-md -z-10;
    content: "";
  }
  #anchor:hover::after {
    @apply h-full;
  }
}
